Repository BaPipe/cluster, pull requests merged in 2021-01, with the labels that each got.

#1 chore: import repository https://github.com/BaPipe/review.git
  .jx/gitops/source-config.yaml
  config-root/namespaces/jx/lighthouse-config/config-cm.yaml
  config-root/namespaces/jx/lighthouse-config/plugins-cm.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-foghorn-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-keeper-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-tekton-controller-deploy.yaml
  config-root/namespaces/jx/lighthouse/lighthouse-webhooks-deploy.yaml
  config-root/namespaces/jx/source-repositories/bapipe-review.yaml
Labels: env/dev, size/M, updatebot

#2 chore: promote review to version 0.0.1
  config-root/namespaces/jx-staging/review/review-0.0.1-release.yaml
  config-root/namespaces/jx-staging/review/review-ingress.yaml
  config-root/namespaces/jx-staging/review/review-review-deploy.yaml
  config-root/namespaces/jx-staging/review/review-review-sa.yaml
  config-root/namespaces/jx-staging/review/review-svc.yaml
  helmfile.yaml
  helmfiles/jx-staging/helmfile.yaml
  helmfiles/jx-staging/jx-values.yaml
Labels: env/staging, size/L, updatebot

#4 chore: promote review to version 0.0.2
  config-root/namespaces/jx-staging/review/review-0.0.2-release.yaml
  config-root/namespaces/jx-staging/review/review-review-deploy.yaml
  config-root/namespaces/jx-staging/review/review-svc.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: env/staging, size/S, updatebot

#6 chore: promote review to version 0.0.3
  config-root/namespaces/jx-staging/review/review-0.0.3-release.yaml
  config-root/namespaces/jx-staging/review/review-review-deploy.yaml
  config-root/namespaces/jx-staging/review/review-svc.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: env/staging, size/S, updatebot

#8 chore: promote review to version 0.0.4
  config-root/namespaces/jx-staging/review/review-0.0.4-release.yaml
  config-root/namespaces/jx-staging/review/review-review-deploy.yaml
  config-root/namespaces/jx-staging/review/review-svc.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: env/staging, size/M, updatebot

#10 chore: promote review to version 0.0.5
  config-root/namespaces/jx-staging/review/review-0.0.5-release.yaml
  config-root/namespaces/jx-staging/review/review-review-deploy.yaml
  config-root/namespaces/jx-staging/review/review-svc.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: env/staging, size/M, updatebot

#12 chore: promote review to version 0.0.6
  config-root/namespaces/jx-staging/review/review-0.0.6-release.yaml
  config-root/namespaces/jx-staging/review/review-review-deploy.yaml
  config-root/namespaces/jx-staging/review/review-svc.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: env/staging, size/M, updatebot

#14 chore: promote review to version 0.0.7
  config-root/namespaces/jx-staging/review/review-0.0.7-release.yaml
  config-root/namespaces/jx-staging/review/review-review-deploy.yaml
  config-root/namespaces/jx-staging/review/review-svc.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: env/staging, size/S, updatebot

#16 chore: promote review to version 0.0.8
  config-root/namespaces/jx-staging/review/review-0.0.8-release.yaml
  config-root/namespaces/jx-staging/review/review-review-deploy.yaml
  config-root/namespaces/jx-staging/review/review-svc.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: env/staging, size/M, updatebot

#18 chore: promote review to version 0.0.9
  config-root/namespaces/jx-staging/review/review-0.0.9-release.yaml
  config-root/namespaces/jx-staging/review/review-review-deploy.yaml
  config-root/namespaces/jx-staging/review/review-svc.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: env/staging, size/M, updatebot

#20 chore: promote review to version 0.0.10
  config-root/namespaces/jx-staging/review/review-0.0.10-release.yaml
  config-root/namespaces/jx-staging/review/review-review-deploy.yaml
  config-root/namespaces/jx-staging/review/review-svc.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: env/staging, size/M, updatebot

#22 chore: promote review to version 0.0.11
  config-root/namespaces/jx-staging/review/review-0.0.11-release.yaml
  config-root/namespaces/jx-staging/review/review-review-deploy.yaml
  config-root/namespaces/jx-staging/review/review-svc.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: env/staging, size/M, updatebot

#24 chore: promote review to version 0.0.12
  config-root/namespaces/jx-staging/review/review-0.0.11-release.yaml
  config-root/namespaces/jx-staging/review/review-0.0.12-release.yaml
  config-root/namespaces/jx-staging/review/review-review-deploy.yaml
  config-root/namespaces/jx-staging/review/review-svc.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: env/staging, size/L, updatebot

#26 chore: promote review to version 0.0.13
  config-root/namespaces/jx-staging/review/review-0.0.12-release.yaml
  config-root/namespaces/jx-staging/review/review-0.0.13-release.yaml
  config-root/namespaces/jx-staging/review/review-review-deploy.yaml
  config-root/namespaces/jx-staging/review/review-svc.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: env/staging, size/L, updatebot

#28 chore: promote review to version 0.0.14
  config-root/namespaces/jx-staging/review/review-0.0.14-release.yaml
  config-root/namespaces/jx-staging/review/review-review-deploy.yaml
  config-root/namespaces/jx-staging/review/review-svc.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: env/staging, size/M, updatebot

#30 chore: promote review to version 0.0.15
  config-root/namespaces/jx-staging/review/review-0.0.15-release.yaml
  config-root/namespaces/jx-staging/review/review-review-deploy.yaml
  config-root/namespaces/jx-staging/review/review-svc.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: env/staging, size/M, updatebot

#32 chore: promote review to version 0.0.16
  config-root/namespaces/jx-staging/review/review-0.0.15-release.yaml
  config-root/namespaces/jx-staging/review/review-0.0.16-release.yaml
  config-root/namespaces/jx-staging/review/review-review-deploy.yaml
  config-root/namespaces/jx-staging/review/review-svc.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: env/staging, size/L, updatebot

#34 chore: promote review to version 0.0.17
  config-root/namespaces/jx-staging/review/review-0.0.17-release.yaml
  config-root/namespaces/jx-staging/review/review-review-deploy.yaml
  config-root/namespaces/jx-staging/review/review-svc.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: env/staging, size/M, updatebot

#36 chore: promote review to version 0.0.18
  config-root/namespaces/jx-staging/review/review-0.0.18-release.yaml
  config-root/namespaces/jx-staging/review/review-review-deploy.yaml
  config-root/namespaces/jx-staging/review/review-svc.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: env/staging, size/M, updatebot

#38 chore: promote review to version 0.0.19
  config-root/namespaces/jx-staging/review/review-0.0.19-release.yaml
  config-root/namespaces/jx-staging/review/review-review-deploy.yaml
  config-root/namespaces/jx-staging/review/review-svc.yaml
  helmfiles/jx-staging/helmfile.yaml
Labels: env/staging, size/M, updatebot

#39 chore: promote review to version 0.0.19
  config-root/namespaces/jx-production/review/review-0.0.19-release.yaml
  config-root/namespaces/jx-production/review/review-review-deploy.yaml
  config-root/namespaces/jx-production/review/review-svc.yaml
  helmfiles/jx-production/helmfile.yaml
Labels: do-not-merge/hold, env/production, size/M, updatebot
